/*// Стилизація проєкта -*/
/*// index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user.*/
/*//     user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/
/*//     блоки з короткою іфною про post - в ряд по 5 .*/
/*//     post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/*//     Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/


body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/bg_w3.jpg");
    background-size: 100%;
    margin: 10px;
}

#usersData{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    margin-bottom: 10px;
}

.headerUser{
    font-size: 36px;
    color: #ffffff;
    background: rgba(173, 173, 173, 0.51);
    margin: 5px;
    width: 75%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 4px solid rgba(236, 236, 236, 0.4);
    border-bottom: 4px solid rgba(236, 236, 236, 0.4);
    border-radius: 10px;
}

.user-block{
    display: flex;
    width: 46%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    margin: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.58);
    border-right: 4px solid rgba(201, 201, 201, 0.4);
    border-bottom: 4px solid rgba(201, 201, 201, 0.4);
}
a{
    color: rgb(127, 127, 127);
}

/*user-details page*/
#user-details{
    background-image: url("img/bg_w5.jpg");
    background-size: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
align-items: center
}



#butt-User-Details{
    width: 90%;
}

.user-details-block{
    width: 40%;
}


.div-dtail-info{
    width: 40%;
    display: flex;
    margin: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.58);
    border-right: 4px solid rgba(201, 201, 201, 0.4);
    border-bottom: 4px solid rgba(201, 201, 201, 0.4);
    flex-wrap: wrap;
    flex-direction: column;
}